<%= form_for(@problema) do |f| %>
  <% if @problema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problema.errors.count, "error") %> prohibited this problema from being saved:</h2>

      <ul>
      <% @problema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :evaluacion_id %><br>
    <%= f.number_field :evaluacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
