<div class="container app-header">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @evaluacion.nombre %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @evaluacion.tipo %>
  </p>

  <%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
  <%= link_to 'Back', evaluacions_path %>
</div>
